@{
    ViewData["Title"] = "Home Page";
}

@model PaginationListViewModel

<style>
    .book-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>

    <h1>Shopping Project</h1>

    @foreach (Item p in Model.Items)
    {
        <partial name="ItemSummary" model="p"/>
    }

<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn" 
    page-class-normal="btn-outline-dark" page-class-selected="btn-primary" 
    page-url-itemType="@Model.CurrentItemType" class="btn-group pull-right m-1"></div>
