@{
    ViewData["Title"] = "Home Page";
}

@model PaginationListViewModel

    <h1>Shopping Project</h1>

    @foreach (Item p in Model.Items)
    {
        <h3>@p.ItemName</h3>

        <ul>
            <li>@p.ItemDescription</li>
            <li>@p.Price</li>
            <li>@p.Amount</li>
        </ul>
    }

    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a>
    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="2">2</a>
    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="3">3</a>


