<html>
    <head>
        <meta name="viewport" content="width=device-width"
        <title>ShoppingProject</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    </head>

    <body>
        <div>
            <div class="bg-dark text-white p-2">
                Shopping Project
            </div>

            <div class="m-1 p-1">
                @RenderBody()
            </div>
        
        </div>
    </body>
</html>